body {
    font-family: helvetica;
    background-color: blanchedalmond;
    background-image: url("https://i.imgur.com/vb7l9oy.gif");
}
h1,p {
    text-align: center;
    color: antiquewhite;
}
.name {
    background-color: aquamarine;
    color: lightcoral;
}
ul {
    color: antiquewhite;
}

audio {
align-items: center;
}
